@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap');


/* font-family: 'Poppins', sans-serif; */


body {
  font-size: 20px;
}

@media all and (max-device-width: 720px){
  body,h3 {
      font-size: 18px;
  }
}

@media all and (max-device-width: 640px){
  body,h3 {
      font-size: 16px;
  }
}

@media all and (max-device-width: 320px){
  body,h3 {
      font-size: 14px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff1e6 !important;
  font-family: 'Poppins', sans-serif;
}

p{
  font-size: 18px;
}

.navigation{}

.about{
  margin: 50px 0 50px 0 !important;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height:100%;
  padding:20px;
  background-color: white !important;
}

.card-title{
  font-size: 30px;
}


.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/coding1.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 5px;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  /* filter: blur(2px); */
}

.user-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 94.2vh;
}

.scroll-btn{
  display: flex;
}

.user-text .name {
  color: #caf0f8;
  font-size: 52px;
}
.profile {
  border: 3px solid black;
  border-radius: 100px;
}

.user-text p {
  font-size: 5vw;
  color: #ffd6ff;
  margin-top: 7px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.hire {
  margin-right: 10px;
}

.container .about {
  margin-top: 40px;
}

h3 {
  text-align: center;
}

.skills {
  /* background-color:#0a7aca; */
  place-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.skills-bar {
  height: 100%;
  display: grid;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  padding:50px 70px;
}

.skills-bar .bar {
  margin: 20px 0;
}

.skills-bar .bar:first-child {
  margin-top: 0;
}

.skills-bar .bar .info {
  margin-bottom: 5px;
}

.skills-bar .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText1 0.5s 1s linear forwards;
}

@keyframes showText1 {
  100% {
    opacity: 1;
  }
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05) 0px 1px 1px
    rgba(255, 255, 255, 0.8);

  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  height: 100%;
  width: 80%;
  background: #6665ee;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line.html span {
  width: 90%;
}
.progress-line.css span {
  width: 70%;
}
.progress-line.java span {
  width: 90%;
}
.progress-line.cpp span {
  width: 80%;
}
.progress-line.sql span {
  width: 70%;
}
.progress-line.data-structure span {
  width: 80%;
}
.progress-line.python span {
  width: 90%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after {
  position: absolute;
  /* content:"80%"; */
  right: 0;
  top: -28px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: #000;
  padding: 1px 8px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.html span::after {
  content: "90%";
}
.progress-line.css span::after {
  content: "70%";
}
.progress-line.java span::after {
  content: "90%";
}
.progress-line.cpp span::after {
  content: "80%";
}
.progress-line.sql span::after {
  content: "70%";
}
.progress-line.data-structure span::after {
  content: "80%";
}
.progress-line.python span::after {
  content: "90%";
}



.portfolio,
.skills,
.education,
.reference,
.contact-us{
  margin-top:80px;
  
}

.portfolio h3,
.skills h3,
.education h3,
.reference h3,
.contact-us h3{
  margin-bottom:20px ;
  text-transform: uppercase;
}

.portfolio{
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05) 0px 1px 1px
  rgba(255, 255, 255, 0.8);

}

.carouse-image{
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.portfolio:hover .carouse-image {
  -webkit-transform: scale(1);
	transform: scale(1);
}

.card-images{
  position: relative;
  text-align: center;
  color: white;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .card-image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}


.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.division{
  display: flex;

}

.card-item{
  display: flex;
  flex-direction: row;
}

.image-text{
  display:flex;
  /* width:49.5%; */
}

.card-details{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-items .images{
  /* background-image: black; */
  /* color: #000; */
  /* margin-left:20000px */
  -webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.card-items :hover img {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(2px);
}

.card-items .card-head{
  color: #fffffc ;
  text-transform: uppercase;
  font-size: 24px;
}

.division1,
.division2{
  margin-right: 10px;
}

footer .footer1{
  width: 100%;
  height: 30vh;
  background: #bee1e6;
  display:flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  padding: 0 30 30 30px;
  margin-top: 50px;
}

.footer1 h3{
  margin-bottom:10px;
  font-size:3.5vw;
}

.scroll-btn1{
  margin-bottom:20px;
}

.footer2{
  width: 100%;
  height: 28vh;
  background: #788aa3;
  display:flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  padding-top:45px ;
}

.footer2 h3{
  font-family: 'Sedgwick Ave', cursive;
  font-style: italic;
  font-size:2rem;
  /* padding-bottom: 20px; */
  padding-top: 0px !important;
  color: #000;
  padding-bottom: 30px;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: top;
}

.logo img{
  /* width: 50vw; */
  /* margin-top: 20px; */
  margin-right: 20px;
}

.footer2 .copyright{
  font-size:3vw; 
  font-weight:bold;
  margin-top: 50px; 
  font-style:normal;
  text-decoration:double;
  color:#fff;
}

.portfolio img{

}


.main-timeline {
  position: relative
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #c6c6c6;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #232323;
  left: -3px
}

.main-timeline .icon:after {
  border: 2px solid #c6c6c6;
  left: 3px
}

.main-timeline .timeline:hover .icon:before {
  left: 3px
}

.main-timeline .timeline:hover .icon:after {
  left: -3px
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
  background: #fff;
  border: 2px solid #232323;
  left: -6px
}

.main-timeline .date-outer:after {
  border: 2px solid #c6c6c6;
  left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #232323;
  line-height: 36px
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0
}

.main-timeline .description {
  margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
      margin-top: 35px
  }
  .main-timeline .date-content:before {
      width: 22.5%
  }
  .main-timeline .timeline-content {
      padding: 10px 0 10px 30px
  }
  .main-timeline .title {
      font-size: 17px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 10px 30px 10px 0
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
      margin: 0;
      left: 7px
  }
  .main-timeline .timeline {
      margin-bottom: 20px
  }
  .main-timeline .timeline:last-child {
      margin-bottom: 0
  }
  .main-timeline .icon {
      margin: auto 0
  }
  .main-timeline .date-content {
      width: 95%;
      float: right;
      margin-top: 0
  }
  .main-timeline .date-content:before {
      display: none
  }
  .main-timeline .date-outer {
      width: 110px;
      height: 110px
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
      width: 110px;
      height: 110px
  }
  .main-timeline .date {
      top: 30%
  }
  .main-timeline .year {
      font-size: 24px
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      width: 95%;
      text-align: center;
      padding: 10px 0
  }
  .main-timeline .title {
      margin-bottom: 10px
  }
}

.send-button{
  font-size: 24px;
}

.copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

@media screen and (max-width:)